@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Colors*/

:root {
  --primary-color: #020228;
  --secondary-color: #ff00e5;
  --tertiary-color: #b535f6;
  --btn-bg-color-gradient: linear-gradient(45deg, #9b34ef 0%, #490cb0 20%, transparent 50%);
  --btn-link-bg-color: #fff;
  --btn-link-color: #000;
  --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
  --divider-bg-color: linear-gradient(90deg, #5516ba, rgba(255, 0, 229, 0.5) 80%);
  --nav-bg-color: rgba(0, 0, 0, 0.3);
  --text-color: #fff;
  --link-color: #9e86ff;
  --form-bg-color: rgba(211, 211, 211, 0.06);
  --form-field-bg-color: rgba(0, 0, 0, 0.2);
  --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
  --form-field-placeholder: rgba(255, 255, 255, 0.7);
  --form-field-error: rgb(255, 76, 76);

  scroll-behavior: smooth;
}

/* Custom Scroll */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--tertiary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  min-width: 375px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: var(--primary-color);
  width: 100%;
  padding: 1.5rem;
}

.menu__logo {
  max-width: 6.25rem;
}

.menu__logo img {
  width: 100%;
}

.menu__login a {
  color: var(--text-color);
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
}

.menu__item:nth-child(2) {
  padding: 0.5rem 1.5rem;
  margin-left: 2rem;
}

.button {
  font-family: 'Raleway', sans-serif;
  background-color: var(--tertiary-color);
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
  padding: 1rem 2.5rem;
  border-radius: 31.25rem;
  cursor: pointer;
  border: none;
  letter-spacing: 2px;
}

.button-gradient {
  background: var(--btn-bg-color-gradient);
  background-size: 250%;
  outline: 3px solid transparent;
  transition: background 1s, outline 1s, transform 1s;
}

section,
footer {
  margin: 0 1rem;
}

.footer__container {
  color: var(--link-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem
}


.footer__links {
  text-align: center;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
}

.footer__links a {
  color: var(--link-color);
  text-decoration: none;
}

.footer__text {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 0 1rem;
}

.footer__social {
  margin: 5rem 0 2rem;
  display: flex;
  gap: 2.5rem;
}


/* Media Queries */

@media screen and (min-width: 481px) {
  nav {
    background-color: var(--nav-bg-color);
    flex-direction: row;
    justify-content: space-between;
  }
  
  .menu__logo {
   max-width: 10rem;
  }


  .footer__links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 801px) {
  nav {
    background-color: var(--nav-bg-color);
    flex-direction: row;
    justify-content: space-between;
  }
}
